body {
  background-color: #111;
  color: #fff;

}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  
  grid-template-areas:
  "header header header"
  "nav content content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  
  max-width: 1200px;
  /* background-color: #1d1d1d; */
}

.header {
  grid-area: header;
  background-color: #1d1d1d;
}

.header img {
  width: 60px;
}

.nav {
  grid-area: nav;

  background-color: #1d1d1d;
}

.nav ul li {
  list-style-type: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font: 400 normal 18px/36px 'Arial';
}



.content {
  grid-area: content;

  /* height: 800px; */

  background-color: #1d1d1d;
}
.bgImg {
  width: 100%;
}

.avatarImg {
  height: 150px;
  border-radius: 20%;
}